<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <title>Team lunch roulette</title>
</head>
<body>
<div id="app"></div>
<script src='<%= static_path(@conn, "/app/build.js") %>'>
</script>
<!--<script src='https://maps.googleapis.com/maps/api/js?key=<%= Application.get_env(:team_lunch_roulette, :google_api_places_web_service) %>' ></script>-->
</body>
</html>